
@{
    ViewBag.Title = "EditorialesAlquiladas";
}

<h2>¿Qué editoriales tienen los libros más solicitados por nuestros clientes?</h2>

@using (Html.BeginForm("EditorialesXRentas", "Consulta"))
{
    <div class="row g-3 mb-4">
        <div class="col-md-4">
            <label for="FechaInicio">Fecha Inicio:</label>
            <input type="date" id="FechaInicio" name="FechaInicio" class="form-control" required />
        </div>

        <div class="col-md-4">
            <label for="FechaFin">Fecha Fin:</label>
            <input type="date" id="FechaFin" name="FechaFin" class="form-control" required />
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Editorial
            </th>
            <th>
                Libros Alquilados
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var editorial in ViewBag.EditorialesMasAlquiladas)
        {
            <tr>
                <th>@editorial.Editorial</th>
                <th>@editorial.VecesAlquilada</th>
            </tr>

        }
    </tbody>  
</table>