
@{
    ViewBag.Title = "EjemplaresDisponibles";
}

<h2>¿Cuántos ejemplares se encuentran disponibles para su renta?</h2>

@using (Html.BeginForm("BuscarLibro", "Consulta"))
{
    <div class="row g-3 mb-4">
        <div class="col-md-4">
            <label for="Libro">Buscar disponibilidad:</label>
            <input type="text" id="Libro" name="Libro" class="form-control" />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Libro
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Disponibilidad
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ejemplar in ViewBag.EjemplaresDisponibles)
        {
            <tr>
                <th>@ejemplar.Libro</th>
                <th>@ejemplar.Cantidad</th>
                <th>@ejemplar.Disponibilidad</th>
            </tr>

        }
    </tbody>
    
</table>