
@{
    ViewBag.Title = "GenerosSolicitados";
}

<h2>¿Cuales son los género más solicitados por nuestros clientes?</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Género
            </th>
            <th>
                Libros Rentados
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genero in ViewBag.ObtenerGenerosMasSolicitados)
        {
            <tr>
                <th>@genero.Genero</th>
                <th>@genero.VecesSolicitado</th>
            </tr>

        }
    </tbody>
    
</table>