
@{
    ViewBag.Title = "GenerosSolicitados";
}

<a href='@Url.Action("Index", "Consulta")' class="btn btn-outline-warning mt-1" style="width:100px; height:40px;">
    Regresar
</a>

<br />

<h2>¿Cuales son los género más solicitados por nuestros clientes?</h2>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Género
            </th>
            <th>
                Libros Rentados
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genero in ViewBag.ObtenerGenerosMasSolicitados)
        {
            <tr>
                <th>@genero.Genero</th>
                <th>@genero.VecesSolicitado</th>
            </tr>

        }
    </tbody>

</table>