<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioPersonal" />
                <binding name="BasicHttpBinding_IServicioCliente" />
                <binding name="BasicHttpBinding_IServicioUbigeo" />
                <binding name="BasicHttpBinding_IServicioLibro" />
                <binding name="BasicHttpBinding_IServicioAutor" />
                <binding name="BasicHttpBinding_IServicioEditorial" />
                <binding name="BasicHttpBinding_IServicioGenero" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioPersonal/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioPersonal"
                contract="ProxyPersonal.IServicioPersonal" name="BasicHttpBinding_IServicioPersonal" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioCliente/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCliente"
                contract="ProxyCliente.IServicioCliente" name="BasicHttpBinding_IServicioCliente" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioUbigeo/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUbigeo"
                contract="ProxyUbigeo.IServicioUbigeo" name="BasicHttpBinding_IServicioUbigeo" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioLibro/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioLibro"
                contract="ProxyLibro.IServicioLibro" name="BasicHttpBinding_IServicioLibro" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioAutor/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAutor"
                contract="ProxyAutor.IServicioAutor" name="BasicHttpBinding_IServicioAutor" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioEditorial/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioEditorial"
                contract="ProxyEditorial.IServicioEditorial" name="BasicHttpBinding_IServicioEditorial" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioGenero/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGenero"
                contract="ProxyGenero.IServicioGenero" name="BasicHttpBinding_IServicioGenero" />
        </client>
    </system.serviceModel>
</configuration>