@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title" class="m-5" style="font-size:70px; text-align:center;">Actualmente nos encontramos implementando estas funcionalidades</h2>

    <img src="~/Images/books-4305459_1280.jpg" />
</main>