@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row text-center m-3" aria-labelledby="losGrisesTitle">
        <h1 id="losGrisesTitle" class="display-4">Bienvenidos a Los Grises</h1>
        <p class="lead mt-3 mb-2">Tu sistema confiable para el control del rentado de libros. <br />¡Descubre una nueva forma de gestionar tu biblioteca!</p>
        @*<p class="mt-4">
            <a href="/Libros/Index" class="btn btn-primary btn-lg">Explorar Libros &raquo;</a>
        </p>*@

        <img src="~/Images/portada.jpg" style="width:80%; height:auto; margin:0 auto;" />
    </section>

    <div class="row mt-5">
        <section class="col-md-4 text-center" aria-labelledby="variedadTitle">
            <h2 id="variedadTitle">Amplia Variedad</h2>
            <p>Ofrecemos nuestros servicios en diversas plataformas para que gestiones tu biblioteca con comodidad.</p>
            <p><a class="btn btn-outline-dark" href='@Url.Action("Contact", "Home")'>Ver Servicios &raquo;</a></p>
        </section>
        <section class="col-md-4 text-center" aria-labelledby="facilidadTitle">
            <h2 id="facilidadTitle">Facilidad de Uso</h2>
            <p>Con nuestro sistema, llevar el control y gestionar tus libros nunca fue tan fácil y rápido.</p>
            <p><a class="btn btn-outline-dark" href='@Url.Action("Contact", "Home")'>Cómo Funciona &raquo;</a></p>
        </section>
        <section class="col-md-4 text-center" aria-labelledby="comunidadTitle">
            <h2 id="comunidadTitle">Constantes Actualizaciones</h2>
            <p>Siempre nos mantenmos mejorando nuestro servicio para que tu experiencia siempre sea la mejor.</p>
            <p><a class="btn btn-outline-dark" href='@Url.Action("Contact", "Home")'>Contáctanos &raquo;</a></p>
        </section>
    </div>
</main>